# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.egg-info/
dist/
build/

# Streamlit
.streamlit/

# PDB temp files
*.ent
*.pdb
obsolete/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
